.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; 
    width: 50%;
    margin: 0 auto;
  }
  
.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
  
.button {
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 4px; /* Rounded corners */
    transition-duration: 0.4s; /* Transition effect */
  }
  
  .button:hover {
    background-color: #009e2c; 
  }
  